name: Tests
on:
  push:
    paths:
      - "packages/**/src/**"
      - "test/**"
  workflow_call:
jobs:
  test:
    name: Testing
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .
    steps:
      - uses: actions/checkout@v3
      - name: Install and cache nodejs
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
      - name: Install packages
        run: npm install
      - name: Types testing
        run: npm run test:type
      - name: Linter testing
        run: npm run test:lint
      - name: Unit testing
        run: npm run test:unit -- --bail --maxWorkers=100% --watchAll=false --coverage --coverageReporters="json-summary"
